@charset "UTF-8";
ul.feature-icons li {
    width: 100%;
    float: right;
}

ul.tagcloud {
    list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 150%;
}

li.tag-2 {
    font-size: 120%;
}

li.tag-3 {
    font-size: 100%;
}

li.tag-4 {
    font-size: 80%;
}

/* fix alignment of logo vs text */
#header .logo img {
    vertical-align: middle;
}

/* Search box */
input.search-query {
    float: left;
    width: 80%;
    background-color: #f3f3f3;
    border: none;
   -moz-appearance: none;
   -webkit-appearance: none;
}

button.search-button {
    min-width: 10%;
    margin-left: 4%;
    width:16%;
    text-align: center;
    align-content: center;
}
/*
ul.tagcloud li.list-group-item span.badge {
    background-color: #3fb1a3;
    color: white;
    border-radius: 40%
}*/