<!-- Banner -->
<section id="banner">

    <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
    <div class="inner">

        <header>
            <h2>Pawanraj Sadhwani</h2>
        </header>

        <p>
            I consult businesses on technology strategy.<br> I also run half marathons and cheer Manchester United. <br> I sometimes write about technology, life or nothing at all.<br> After conversations with myself, I've decided I should write more.
            <br>
        </p>
        <p>So watch this space!</p>

        <!--
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>
        -->

    </div>

</section>