<section class="wrapper style4 container special comment-wrapper">
    <h3 id="comments">Leave a Comment!</h3>
    <p class="small">(Comments are moderated and will appear here when approved)</p>
    <form method="POST" action="https://pawanrajs-com-staticman.herokuapp.com/v3/entry/github/pawanrajs/pawanrajs.com/main/comments">
        <div id="comment-form" class="row gtr-50">
            <input name="options[redirect]" type="hidden" value="{{SITEURL}}/{{ article.url }}">
            <input name="options[slug]" type="hidden" value="{{ article.slug }}">
            <input name="fields[url]" type="hidden" value="{{ article.url }}">
            <div class="col-6 col-12-mobile">
                <input type="text" name="fields[name]" placeholder="Name" />
            </div>
            <div class="col-6 col-12-mobile">
                <input type="text" name="fields[email]" placeholder="E-mail" />
            </div>
            <div class="col-12">
                <textarea name="fields[message]" placeholder="Type your comment. Comments are moderated and will appear when approved." rows="4"></textarea>
            </div>
            <div class="col-12">
                <ul class="buttons">
                    <li><input type="submit" class="primary" value="Post comment!" /></li>
                </ul>
            </div>
        </div>
    </form>
  </section>

  <hr>

  <section class="wrapper style1 container">
      {% for comment in COMMENTS %}
        {% if comment.url == article.url %}
          <div class="comment-container">
              <div class="comment-header">
                  <div class="comment-author--no-cover">
                      <h3>{{ comment.name | title }}</h3>
                  </div>
              </div>

              <div class="comment-body">
                  <div class="comment-text">
                      <p>{{ comment.message }}</p>
                    </div>
              </div>

              <div class="comment-footer">
                  <ul>
                      <li class="published-date">
                        {% set days_ago = comment.date | datediff %}
                        {% if days_ago == 0 %} Today {% elif days_ago == 1 %} {{ days_ago }} day ago {% else %} {{days_ago}} days ago {% endif %}
                      </li>
                  </ul>
              </div>
          </div>
          {% endif %}
      {% endfor %}
  </section>
