<section>
    <div>
        <h3 id="comments">COMMENTS</h3>
        {% for comment in COMMENTS %}
            {% if comment.url == article.slug %}
                <p class="comment">{{ comment.name }}: {{ comment.message }}</p>
            {% endif %}
        {% endfor %}
    </div>

    <div id="comment-post">
        <form method="POST" action="https://pawanrajs-com-staticman.herokuapp.com/v3/entry/github/pawanrajs/pawanrajs.com/twenty-theme/comments">
            <input name="options[redirect]" type="hidden" value="{{ article.url }}">
            <input name="fields[url]" type="hidden" value="{{ article.slug }}">
            <div><label>Name: <input name="fields[name]" type="text"></label></div>
            <div><label>E-mail: <input name="fields[email]" type="email"></label></div>
            <div><label>Message: <textarea name="fields[message]"></textarea></label></div>
            
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
