<!-- Random Post to be added in featuredpost.html -->
{% set all_posts = articles if not all_articles else all_articles %} {% set random_post = all_posts | random %}
<section class="wrapper style2 container special-alt">
    <div class="row half">
        <div class="8u">

            <header>
                <h2>Featured - <strong>{{random_post.title}}</strong></h2>
            </header>
            <p>{{ random_post.content[:200] | striptags }}</p>
            <footer>
                <ul class="buttons">
                    <li><a href="{{ SITEURL }}/{{ random_post.url }}" class="button">Read More</a></li>
                </ul>
            </footer>

        </div>
        <div class="4u skel-cell-important">

            <ul class="feature-icons">
                <li><span class="icon fa-{{random_post.icon}}"><span class="label">Feature 1</span></span>
                </li>
            </ul>

        </div>
    </div>
</section>