<header class="special container">
    <span class="icon solid fa-handshake"></span>
    <h2><strong>This is the Twenty Theme!</strong></h2>

    <p>
        I use this to provide my introduction on the home page.<br /> 
        You can skip this by setting <span class="highlight"><code class="nv">INDEX_INTRODUCTION</code></span> to 
        <span class="highlight"><code class="kc">False</code></span> in <span class="highlight"><code class="nc">pelicanconf.py</code></span><br /> 

        Alternatively, modify the contents of <span class="highlight"><code class="sx">includes/index_introduction.html</code></span>, or <br/>
        specify the include file url in the <span class="highlight"><code class="nv">INDEX_INTRODUCTION</code></span> variable in <span class="highlight"><code class="nc">pelicanconf.py</code></span>
    </p>
</header>
