<header class="special container">
    <span class="icon solid fa-handshake"></span>
    <h2><strong>Hi! I am Pawanraj Sadhwani</strong></h2>

    <p>
        I <strong><a href="{{SITEURL}}/{{RESUME_PATH}}">consult</a></strong> businesses on technology strategy.<br /> 
        I also run half marathons and cheer Manchester United. <br /> 
        I sometimes write about
            <a href="{{SITEURL}}/{{CATEGORY_URL | replace('{slug}', 'technology')}}">technology</a>,
            <a href="{{SITEURL}}/{{CATEGORY_URL | replace('{slug}', 'personal')}}">my life</a> or
            <a href="{{SITEURL}}/{{CATEGORY_URL | replace('{slug}', 'scribbles')}}">nothing at all.</a><br />
        <a href="{{SITEURL}}/{{CATEGORY_URL | replace('{slug}', 'conversations-with-myself')}}">My subconscious talked me </a>into creating this site and writing more.<br />
    </p>
</header>