{% extends "base.html" %} {% block title %}Archives | {{ super() }}{% endblock title %} {% block content %}
<!-- Main -->
<article id="main">

    <header class="special container">
        <span class="icon solid fa-archive"></span>
        <h2>Archives</h2>
        <!-- add page sub title here -->
    </header>

    <!-- One -->
    <section class="wrapper style4 container">

        <div class="row gtr-150">

            <div class="col-8 col-12-narrower">
                <div class="content">
                    {% for article in dates_page.object_list %}
                    <section>
                        <!-- <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a> -->
                        <header>
                            <a href="{{ SITEURL }}/{{ article.url }}">
                                <h3>{{ article.title }}</h3>
                            </a>
                        </header>
                        <p>{{ article.summary|striptags }}</p>
                    </section>
                    {% endfor %} {% include 'includes/pagination.html' %}

                </div>
            </div>


            <div class="col-4 col-12-narrower">

                <!-- Sidebar -->
                <div class="sidebar">

                    <!-- To add search section or not -->
                    {% if 'tipue_search' in PLUGINS %}
                        {% include 'includes/sidebar/sidebar_search.html' %}
                    {% endif %}

                    {% include 'includes/sidebar/sidebar_tags.html' %}

                    {% include 'includes/sidebar/sidebar_categories.html' %}
                </div>

            </div>

        </div>
    </section>
</article>

{% include 'includes/cta.html' %} {% endblock content %}