<!DOCTYPE html>
<html>

<head>
    <!-- META -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    {% if FAVICON %} <link href="{{ SITEURL }}/{{ FAVICON }}" rel="icon"> {% endif %} 
    {% if TOUCHICON %} <link rel="apple-touch-icon" href="{{ SITEURL }}/{{ TOUCHICON }}"> {% endif %}

    {% block meta %} {% endblock meta %}

    <!-- CSS -->
    <link rel="stylesheet" href="{{SITEURL}}/{{THEME_STATIC_DIR}}/css/main.css" type="text/css" />
    <link rel="stylesheet" href="{{SITEURL}}/{{THEME_STATIC_DIR}}/css/non-twenty-elements.css" type="text/css" />
    <link rel="stylesheet" href="{{SITEURL}}/{{THEME_STATIC_DIR}}/css/pygment.css" type="text/css" />
    
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->

    {% if CUSTOM_CSS %}
        <link href="{{ SITEURL }}/{{THEME_STATIC_DIR}}/{{ CUSTOM_CSS }}" rel="stylesheet" type="text/css">
    {% endif %} 

    {% if 'tipue_search' in PLUGINS %}
        <link href="{{ SITEURL}}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch.css" rel="stylesheet"> 
    {% endif %}

    <noscript>
        <link rel="stylesheet" href="{{SITEURL}}/{{THEME_STATIC_DIR}}/noscript.css" type="text-css" />
    </noscript>

    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

    <!-- RSS AND ATOM FEEDS -->
    {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }}-Feed" /> 
    {% endif %} 

    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}-Atom Feed" />
    {% endif %}

    <title>
        {% block title %}{{ SITENAME }} | {{ TAGLINE }}{% endblock title %}
    </title>
</head>

<body class="{% if page_name %}{{ page_name|sidebar }}{% endif %} is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" {% if page_name=='index' %}class="alt" {% endif %}>
            <h1 class="logo">
                <a href="{{SITEURL}}/">
                    {% if SITELOGO %}
                        <img src="{{ SITEURL }}/{{ SITELOGO }}" width="{{ SITELOGO_SIZE }}"/> 
                    {% endif %}
                    {% if not HIDE_SITENAME %}{{ SITENAME }}{% endif %}
                </a>
            </h1>
            <nav id="nav">
                <ul>
                    <!-- <li class="current"><a href="index.html">Welcome</a></li> -->
                    {% if MENUITEMS %}
                        {% for title, link in MENUITEMS %}
                            <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {% if categories and DISPLAY_CATEGORIES_ON_MENU %}
                        {% if DISPLAY_CATEGORIES_AS_SUBMENU %}
                            <li class="submenu">
                                <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">{{CATEGORY_SUBMENU_TITLE}}</a>
                                <ul>
                                    {% for cat, null in categories %} 
                                    {% if cat != 'blog' %}
                                        <li {% if cat==category %}class="active" {% endif %}>
                                            <a href="{{ SITEURL }}/{{cat.url}}">{{ cat | capitalize }}</a>
                                        </li>
                                    {% endif %} 
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            {% for cat, null in categories %}
                            <li {% if cat==category %}class="active" {% endif %}>
                                <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
                            </li>
                            {% endfor %} 
                        {% endif %}
                    {% endif %}

                    {% if pages and DISPLAY_PAGES_ON_MENU %} 
                        {% for p in pages %}
                            {% if p.url %}
                                <li {% if p == page %} class="active" {% endif %}>
                                    <a href="{{ SITEURL }}/{{ p.url }}">{{ p.menulabel | default(p.title) }}</a>
                                </li>
                            {% endif %}
                        {% endfor %} 
                    {% endif %}

                    {% if MENU_SPECIAL_BUTTON_LABEL %}
                        <li><a href="{{MENU_SPECIAL_BUTTON_LABEL[1]}}" class="button primary">{{MENU_SPECIAL_BUTTON_LABEL[0]}}</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock %} 
        
        {% include 'includes/footer.html' %}
    </div> <!-- end DIV #page-wrapper -->
  
    <!-- JAVASCRIPT -->
    <script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/jquery.min.js"></script>
    <script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/jquery.dropotron.min.js"></script>
    <script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/jquery.scrolly.min.js"></script>
    <script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/jquery.scrollex.min.js"></script>
    <script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/browser.min.js"></script>
    <script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/breakpoints.min.js"></script>
    <script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/util.js"></script>
    <script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/main.js"></script>

    
    <!-- add scripts for search here in search.html -->
    {% block scripts %}{% endblock %}

</body>

</html>