{% extends "base.html" %} {% include 'includes/banner.html' %} {% block content %}
<!-- Main -->
<article id="main">

    <header class="special container">
        <span class="icon fa-handshake-o"></span>
        <h2><strong>Hi! I am Pawanraj Sadhwani</strong></h2>

        <p>
            I <strong><a href="{{SITEURL}}/{{RESUME_PATH}}">consult</a></strong> businesses on technology strategy.<br /> I also run half marathons and cheer Manchester United. <br /> I sometimes write about
            <a href="{{SITEURL}}/{{CATEGORY_URL | replace('{slug}', 'technology')}}">technology</a>,
            <a href="{{SITEURL}}/{{CATEGORY_URL | replace('{slug}', 'personal')}}">my life</a> or
            <a href="{{SITEURL}}/{{CATEGORY_URL | replace('{slug}', 'scribbles')}}">nothing at all.</a><br />
            <a href="{{SITEURL}}/{{CATEGORY_URL | replace('{slug}', 'conversations-with-myself')}}">My subconscious talked me </a>into creating this site and writing more.<br />
        </p>
    </header>

    {## % include 'includes/featuredpost.html' % ##}
    <!-- Two -->
    <section class="wrapper style1 container special">
        <div class="row" id="latest_posts">

            <div class="12u">
                <h2>Latest Posts</h2>
            </div>

            {% for article in articles_page.object_list %}
            <div class="4u">

                <section>
                    <span class="icon feature fa-{{ article.icon }}"></span>
                    <header>
                        <a href="{{ SITEURL }}/{{ article.url }}" rel='bookmark'>
                            <h3>{{ article.title }}</h3>
                        </a>
                    </header>
                    <p>{{ article.content[:196]|striptags }}</p>
                    <footer>
                        <ul class="buttons">
                            <li><a href="{{ SITEURL }}/{{ article.url }}" class="button small">Read More</a></li>
                        </ul>
                    </footer>
                </section>

            </div>
            {% endfor %}

        </div>
        <!-- /.row -->

        {% include 'includes/pagination.html' %}

    </section>
    <!-- /section -->

</article>

{# %include 'includes/coolstuff.html' % #} {% include 'includes/cta.html' %} {% endblock content %}