{% extends "base.html" %} 
{% include 'includes/banner.html' %} 

{% block content %}
<!-- Main -->
<article id="main">

    {% if INDEX_INTRODUCTION %}
        {% include INDEX_INTRODUCTION %}
    {% endif %}

    {% if SHOW_FEATURED_ARTICLE %}
        {% include 'includes/featuredpost.html' %}
    {% endif %}

    <!-- Two -->
    <section class="wrapper style1 container special">
        <div class="row" id="latest_posts">

            <div class="col-12">
                <h2>Latest Posts</h2>
            </div>

            {% for article in articles_page.object_list %}
            <div class="col-4 col-12-narrower">

                <section>
                    <span class="icon solid featured fa-{{ article.icon }}"></span>
                    <header>
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">
                            <h3>{{ article.title }}</h3>
                        </a>
                    </header>
                    <p> 
                        {% if article.summary %}
                            {{article.summary | striptags }}
                        {% else %}
                            {{article.content[:196] | striptags}}
                        {% endif %}
                    </p>
                    <footer>
                        <ul class="buttons">
                            <li><a href="{{ SITEURL }}/{{ article.url }}" class="button small">Read More</a></li>
                        </ul>
                    </footer>
                </section>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->

        {% include 'includes/pagination.html' %}

    </section>
    <!-- /section -->

</article>

{# %include 'includes/coolstuff.html' % #} 

{% include 'includes/cta.html' %} 

{% endblock content %}