{% extends "base.html" %} {% block title %}{{ tag|striptags }} | {{ super() }}{% endblock title %} 

{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ tag }}" />
{% endblock meta %}

{% block content %}
<!-- Main -->
<article id="main">

    <header class="special container">
        <span class="icon solid fa-tag"></span>
        <h2><i class="fa fa-tag" aria-hidden="true"></i>{{ tag }}</h2>
        <!-- add page sub title here -->
    </header>

    <!-- One -->
    <section class="wrapper style4 container">

        <div class="row gtr-150">

            <div class="col-8 col-12-narrower">
                <div class="content">
                    {% for article in articles_page.object_list %}
                    <section>
                        <!-- <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a> -->
                        <header>
                            <a href="{{ SITEURL }}/{{ article.url }}">
                                <h3>{{ article.title }}</h3>
                            </a>
                        </header>
                        <p>{{ article.summary|striptags }}</p>
                    </section>
                    {% endfor %}
                </div>
            </div>


            <div class="col-4 col-12-narrower">

                <!-- Sidebar -->
                <div class="sidebar">
                    {% include 'includes/sidebar/sidebar_tags.html' %}

                    {% include 'includes/sidebar/sidebar_categories.html' %}
                </div>
            </div>

        </div>
        {% include 'includes/pagination.html' %}
    </section>

    <!-- Two -->
    {% include 'includes/most_recent.html' %}

</article>
{% include 'includes/cta.html' %} {% endblock content %}